<ng-template #template>
  <div class="modal-header">

    <!-- Modal Title -->
    <h4 class="modal-title pull-left">Modal</h4>
    <app-diagnostics *ngIf="diagnosticStatus"></app-diagnostics>
    <!-- Close Button -->
    <button type="button" 
            class="close pull-right" 
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>

  <button (click)="openModal(template)">Open Modal</button>



